body {
  font-size: large;
}

.entire-container{
  min-height: 100vh;
}

.content{
  flex-grow: 1;
}

.flex-container{
  display: flex;
  justify-content: center;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
	display: flex;
	justify-content: space-around;
	background-color: #C09F80;
	text-align: center;
}

footer {
  text-align: center;
  flex-grow: 0;
  background-color: #C09F80;
}

table, th, td {
  border: 1px solid black;
  padding: 2px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.centered-item {
  align-self: center;
}