body {
  font-size: large;
}

.entire-container{
  min-height: 100vh;
}

.content{
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  flex-grow: 1;
}

.flex-container{
  display: flex;
  justify-content: center;
}

.flex-container-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header{
	display: flex;
	justify-content: space-around;
	background-color: #C09F80;
	text-align: center;
}

footer {
  text-align: center;
  flex-grow: 0;
  background-color: #C09F80;
}

table, th, td {
  border: 1px solid gray;
  padding: 3px 5px 3px 5px;

  margin-bottom: 20px;
  margin-top: 10px;
}

th {
  text-align: center;
}

.centered-item {
  align-self: center;
}

.score_cell {
  width: 50px;
}

.school_name {
  width: 200px;
}