<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs") %>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
</head>

<body class="personal_page">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home</a>
            <a class="nav-item nav-link active" href="#about">About</a>
            <a class="nav-item nav-link" href="#projects">Projects</a>
            <a class="nav-item nav-link" href="#competitions">Competitions</a>
            <a class="nav-item nav-link" href="#contact">Contact</a>
        </div>
    </nav>

    <div id="entire-page" class="container justify-content-center">
        <div class="row justify-content-center align-items-center greeting">
            Batmend Batsaikhan
        </div>
        <div id="about" class="row">
            <h1 class="title">About</h1>

            <div class="col-md-6 text-end">
                Carleton College '24<br>
                Computer Science
            </div>
            <div class="col-md-6">
                <ul>
                    <li>Theory of Computing</li>
                    <li>Applied Cryptography</li>
                    <li>Computer Graphics</li>
                    <li>Software Design</li>
                    <li>Programming Languages</li>
                    <li>Algorithms</li>
                    <li>Introduction to Computer Systems</li>
                    <li>Human Computer Interaction,</li>
                    <li>Data Structures,</li>
                    <li>Math of Computer Science,</li>
                    <li>Quantum Computing,</li>
                    <li>Statistics Inference</li>
                </ul>
            </div>
        </div>
        <div id="projects" class="row projects justify-content-center">
            <h1 class="title">Projects</h1>
            <div class="col-md-6 d-flex justify-content-center">
                <a href="https://myangat.com/" target="_blank">
                    <img src="/myangat_logo.svg" class="myangat_logo" alt="Myangat">
                </a>
                Myangat is a website that presents results of various high shcool science competitions in Mongolia.
            </div>
        </div>

        <div id="competitions" class="row competitions justify-content-center">
            <h1 class="title">Competitions</h1>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/imo_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">International Mathematical Olympiad</h5>
                    <p class="card-text">Two bronze medals</p>
                    <a href="https://www.imo-official.org/participant_r.aspx?id=27745" class="btn btn-primary">More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/ioi_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">International Olympiad in Informatics</h5>
                    <p class="card-text">Participated</p>
                    <a href="https://stats.ioinformatics.org/people/6597" class="btn btn-primary">More</a>
                </div>
            </div>

            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/icpc_logo.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">International Collegiate Programming Contest</h5>
                    <p class="card-text">Participated</p>
                    <a href="https://www.carleton.edu/news/stories/carleton-students-attend-international-collegiate-programming-contest/"
                        class="btn btn-primary">More</a>
                </div>
            </div>
        </div>

        <div id="contact" class="row contact">
            batmendbar@gmail.com
        </div>
    </div>
</body>

</html>