<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body class="flex-container-vertical entire-container">
  <%- include ("../partials/header.ejs") %>
  <%- include ("../partials/division_result_table") %>
  <%- include ("../partials/footer.ejs") %>
</body>
</html>
